-#TODO Change title to that of the view
%title Lale.help
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= javascript_tag do
  I18n.locale = '#{I18n.locale}'
= favicon_link_tag '/favicon.ico'

= csrf_meta_tags
